extends ./layout/layout
block header
  title= title
  link(href=Manifest.resource("css/article.css") rel="stylesheet" type="text/css")
block contents
  #rootArticle
block scripts
  script(src=Manifest.resource("js/article.js") type="text/javascript")
